  h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: proxima-nova, arial, sans-serif;
  color: #333;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.2em;
}
h1 {
  margin: 0 0 25px 0;
}
.navbar {
  background-color: #C4C2C3;
}
.container-hackathon {
  margin-top: 50px;
}
.has-bc {
  margin-top: 0;
}
.bc {
  margin-bottom: 0;
}
.navbar-nav li a {
  color: #302F2F;
}

.navbar-nav li.active {
  background-color: #33A1DE;
}

.navbar-brand {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #00A876;
  font-size: 24px;
}
.navbar-brand .threed {
  font-weight: 100;
}
.navbar-brand:hover {
  color: #ff5900;
}
.navbar-brand:hover .threed {
  color: #12a3ec;
}
.sidebar .nav-list li a {
  background: #f2f2f2;
  color: #333;
}
.sidebar .nav-list li:hover a,
.sidebar .nav-list li.active a {
  background-color: #33A1DE;
  color: #fff;
}

.query-select {
  
}

.query-input {
  
}

.logo-img {
  height: 36px;
  width: 160px;
  margin-top: 5px;
}

.avatar-img {
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.commit-author {
  text-align: center;
}

.commit-team {
  text-align: center;
  font-weight: bold;
}

.commit-feed-item {
  margin: 20px;
  border-width: medium;
}

.commit-col-header {

}

.row-time-ups-and-downs {
  text-align: center;
}

.time-text {
  padding-top: 25px;
  text-align: center;
  font-size: large;
}

.ups-and-downs {
  display: inline-block;
  font-size: large;
}

.ups {
  float: left;
  padding: 15px;
  color: blue;
}

.downs {
  float: left;
  padding: 15px;
  color: red;
}

.ioc-icon {
  padding-right: 5px;
}
 
li.new-item {
  opacity: 0;
  -webkit-animation: new-item-animation .3s linear forwards;
  -o-animation: new-item-animation .3s linear forwards;
  animation: new-item-animation .3s linear forwards
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes new-item-animation {
  from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}